<html>

<head>
    <%- include('../partials/head'); %>
</head>


<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <div class="playerinfo" style="float:left;width: 200px; font-size: 40px;">
        <%- user.skin%>
            <%= nick.nick%>
                <%=(typeof balance !="undefined" ? balance : "" )%>₽
                    <%- (admins.includes(user.id)) ? include('../partials/adminbutton') : "" %>
    </div>
    <div class="playerinfo" style="float:right; width: 600px;">
        <%- include('../partials/dashserver'); %>
    </div>

</body>



</html>